.*

!/.gitignore

.project

.settings

.actionScriptProperties

bin-debug/com/.DS_Store

Apps/*

src/content/CareOfTheDead_chap1-revised.xml

bin-debug/content/CareOfTheDead_chap1-revised.xml

src/view/.DS_Store

bin-debug/.DS_Store

src/.DS_Store

src/view/util/.DS_Store

src/view/util/scroll/.DS_Store

Apps/.DS_Store

src/images/.DS_Store

bin-debug/model/.DS_Store

src/view/assets/.DS_Store

src/view/util/.DS_Store

src/model/.DS_Store